<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="mapperInterface.CartMapper">
	
	<select id="selectList" resultType="vo.CartVO">
		select * from cart where user_id=#{user_id, jdbcType=VARCHAR} order by cart_seq desc
	</select>

	<select id="selectOne" resultType="vo.CartVO">
		SELECT i.item_name, i.item_price, i.inventory, i.uploadfile, c.cart_seq, c.cart_count, c.item_seq 
			FROM item_info i right JOIN cart c ON i.item_seq = c.item_seq 
			where c.user_id=#{user_id} order by c.cart_seq desc
 	</select>
 	
 	<select id="selectSeqCount" resultType="int">
 		SELECT count(*) FROM cart where cart.item_seq = #{item_seq}
 	</select>

	<insert id="insert" parameterType="vo.CartVO">
		<selectKey keyProperty="cart_seq" resultType="int" order="BEFORE">
			select nvl(max(cart_seq),0)+1 from cart
		</selectKey>
		insert into cart values ( #{cart_seq},#{user_id},#{item_seq},#{cart_count} )
	</insert>
	
	<update id="update">
		update cart set
			cart_count = cart_count + #{cart_count} 
			where item_seq = #{item_seq} and user_id = #{user_id}
	</update>
	
	<update id="updatepm">
		update cart set
			cart_count = #{cart_count} 
			where item_seq = #{item_seq} and user_id = #{user_id}
	</update>
	
	<delete id="delete">
		delete from cart where cart_seq = #{cart_seq}
	</delete>
 
</mapper>